body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
}

form {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 40%;
    margin: auto;
    margin-top: 60px;
    padding-right: 40px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 97%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2196F3; 
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
}

button:hover {
    background-color: #0b7dda;
}

h2 {
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    color: #555;
}

h2 a {
    color: #2196F3;         
    text-decoration: none;   
    font-weight: bold;
}

h2 a:hover,
h2 a:focus {
    text-decoration: underline;
    color: #0b7dda;         
}

h2 i {
    color: #666;
}

@media (max-width: 600px) {
    .header {
        padding: 0px;
        margin-bottom: 10px;
    }

    form {
        margin-top: 30px;
        padding: 16px;
        padding-right: 16px;
        width: 85%;
    }
}

